<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Our Beginnings</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Not Your Survivor sprung from a personal growth journey that didn't seem to have many tailored healing resources. While many avenues of support exist for survivors of sexual assault, childhood sexual abuse, domestic abuse, etc., family sexual abuse (FSA) lies within a social landscape that doesn't encourage openness or conversation: both of which are necessary components for healing. Not Your Survivor aims to provide a collection of FSA healing resources that are free and easily accessible for those who have experienced FSA, information for allies looking to support those who have experienced FSA, and community for those who suffer and recover silently.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Our Name</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">The term "survivor" carries many connotations for survivors of assault. For many, it is an empowering thing to think of oneself as a "survivor" as opposed to its often negatively associated opposite: "victim." For others, the term "victim" is empowering in that it appropriately attributes accountability for the assault(s) that they were not responsible for causing. Not Your Survivor holds space for both these views, and many others in between, on the understanding that these views are reflections of where individuals gain the most strength and agency). Not Your Survivor seeks to highlight in name the lived realities of an FSA experiencer, namely:</p>
                                <ul>
                                    <li>While one may have survived the trauma-causing assault(s), the effects of the assault(s) on one's psyche often must be contended with throughout the course of the experiencer's life</li>  
                                    <li>That no FSA experiencer is a "survivor" of a society that enforces shame and silence</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Our Words</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Not Your Survivor embraces the term "family sexual abuse" (FSA) because it provides clarity for experiencers, while also eschewing the cultural taboos and subsequent close-mindedness often ignited by the term "incest" that lead to non-starter conversations.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Watch 
                                <br>This
                                <br>Space!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>