<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Mission</h2>
                    <h3 class="section-subheading text-muted">Not Your Survivor's (NYS) mission is to create transparency around an issue that is rarely talked about in our society due to a heavy barrier of shame. NYS approaches family sexual abuse (FSA) from the perspective that, as a society, we can’t begin to address or heal what we don’t talk about. NYS seeks to erase the taboo around FSA, all the while growing a supportive, understanding community for those who have experienced FSA and their allies.</h3>

                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa equity fa-stack-1x fa-inverse"></i>
                        <img src="./img/noun_equity_white.jpg" width="100%" height="auto" class="equity button-icon">
                    </span>
                    <h4 class="service-heading">Equity</h4>
                    <p class="text-muted">We believe that everyone should have access to the healing guidance, techniques, and care that they need.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-stack-1x fa-inverse"></i>
                        <img src="./img/noun_community_white.jpg" width="100%" height="auto" class="button-icon">
                    </span>
                    <h4 class="service-heading">Community</h4>
                    <p class="text-muted">We strive to ensure that no one has to go through the pain of healing from family sexual abuse alone.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-stack-1x fa-inverse"></i>
                        <img src="./img/noun_courage_white.jpg" width="100%" height="auto" class="button-icon">
                    </span>
                    <h4 class="service-heading">Courage</h4>
                    <p class="text-muted">We wholly embrace the courage it takes to claim ourselves, our potential, and our lives.</p>
                </div>
            </div>
        </div>
    </section>