<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Platforms</h2>
                    <h3 class="section-subheading text-muted">Find Not Your Survivor on the following platforms:</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">YouTube</h4>
                    <p class="text-muted">Our YouTube channel thoughtfully explores FSA for those seeking to recover from its effects, as well as those trying to be better allies for the FSA community.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Instagram</h4>
                    <p class="text-muted">Our secondary presence, Not Your Survivor's Instagram focuses on mental health dynamics and social health aspects of FSA.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">SoundCloud</h4>
                    <p class="text-muted">Our SoundCloud curates multiple kinds of free audio therapy, such as meditations, grounding exercises, and sound baths.</p>
                </div>
            </div>
        </div>
    </section>